<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuao.banzhuan">
    <!--添加网络访问权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--读写sd卡的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".tools.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDesign">
        <!--欢迎界面-->
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--注册界面-->
        <activity android:name=".activity.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName=".activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity"/>
        </activity>
        <!--主界面-->
        <activity
            android:launchMode="singleTask"
            android:name=".activity.MainActivity">


        </activity>
        <!--登录界面-->
        <activity

            android:name=".activity.LoginActivity"
            android:label="@string/login"
            android:parentActivityName=".activity.MainActivity">


        </activity>
        <!--个人信息修改-->
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:label="@string/change_personal_info"
            android:parentActivityName=".activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>

        </activity>
        <!--交换记录-->
        <activity android:name=".activity.ExchangeRecordActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>

        </activity>
        <!--设置-->
        <activity android:name=".activity.SettingActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>

        </activity>
        <!--我要兑换-->
        <activity
            android:name=".activity.ExchangeActivity"
            android:label="兑换"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>

        </activity>
        <!--任务记录-->
        <activity android:name=".activity.TaskRecordActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>

        </activity>
        <!--我的任务-->
        <activity android:name=".activity.TaskActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
        <!--关于界面-->
        <activity android:name=".activity.AboutActivity"
            android:parentActivityName=".activity.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:label="任务详情界面"
            android:parentActivityName=".activity.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
    </application>

</manifest>